# Sandbox - Hackathon Localiza

Este é um arquivo de sandbox para explorar os dados apresentados pela organização do evento

In [101]:
import pandas as pd
import numpy as np

from IPython.display import display, HTML

In [30]:
# Import CSV
data = pd.read_csv("original.csv", sep=';', encoding = "ISO-8859-1", error_bad_lines=False)

## Fazer comparação dos indicadores por sexo

In [131]:
# Filtrar sexo

is_homem = (data["Sexo"] == "M") & (data["Cidade_Residencia"] == "SAO PAULO")
is_mulher = (data["Sexo"] == "F") & (data["Cidade_Residencia"] == "SAO PAULO")

homem = data[is_homem]
mulher = data[is_mulher]

total_homens = len(homem.index)
total_mulheres = len(mulher.index)

In [132]:
# Print informacoes
print(total_homens)
print(total_mulheres)

162132
38478

### Features dos Homens

In [133]:
# homem_features = attrdict()
homem_value = pd.DataFrame()
homem_percent = pd.DataFrame()
# homem_features.percent = attrdict()

# homem_features.value.Valor_Diarias
# homem_features.value.Diarias_Utilizadas
homem_value['Seguro_Terceiros'] = [len(homem[homem["Seguro_Terceiros"] == "Sim"])]
homem_value['Assentos_Conforto'] = [len(homem[homem["Assentos_Conforto"] == "Sim"])]
homem_value['Hora_Extra'] = [len(homem[homem["Hora_Extra"] == "Sim"])]
homem_value['Kit_Conveniencia'] = [len(homem[homem["Kit_Conveniencia"] == "Sim"])]
homem_value['Lavagem'] = [len(homem[homem["Lavagem"] == "Sim"])]
homem_value['Localiza_Way'] = [len(homem[homem["Lavagem"] == "Sim"])]
homem_value['Motorista'] = [len(homem[homem["Motorista"] == "Sim"])]
homem_value['Km_Extra'] = [len(homem[homem["Km_Extra"] == "Sim"])]
homem_value['GPS'] = [len(homem[homem["GPS"] == "Sim"])]
# homem_value['Total_Contrato']

for item in homem_value:
  homem_percent[item] = [homem_value[item][0]/total_homens]
#   homem_percent[item].options.display.float_format = '{:.2f}%'.format
#   print(item)
    

print('\n== Valores Totais ==')
display(homem_value)
print('\n\n\n== Valores Percentuais ==')
display(homem_percent)

== Valores Totais ==

,Seguro_Terceiros,Assentos_Conforto,Hora_Extra,Kit_Conveniencia,Lavagem,Localiza_Way,Motorista,Km_Extra,GPS
0,137613,3115,12627,0,15300,15300,52,48,1

== Valores Percentuais ==

,Seguro_Terceiros,Assentos_Conforto,Hora_Extra,Kit_Conveniencia,Lavagem,Localiza_Way,Motorista,Km_Extra,GPS
0,0.848771,0.019213,0.077881,0.0,0.094368,0.094368,0.000321,0.000296,0.000006

### Features das Mulheres

In [134]:
mulher_value = pd.DataFrame()
mulher_percent = pd.DataFrame()

# mulher_features.value.Valor_Diarias
# mulher_features.value.Diarias_Utilizadas
mulher_value['Seguro_Terceiros'] = [len(mulher[mulher["Seguro_Terceiros"] == "Sim"])]
mulher_value['Assentos_Conforto'] = [len(mulher[mulher["Assentos_Conforto"] == "Sim"])]
mulher_value['Hora_Extra'] = [len(mulher[mulher["Hora_Extra"] == "Sim"])]
mulher_value['Kit_Conveniencia'] = [len(mulher[mulher["Kit_Conveniencia"] == "Sim"])]
mulher_value['Lavagem'] = [len(mulher[mulher["Lavagem"] == "Sim"])]
mulher_value['Localiza_Way'] = [len(mulher[mulher["Lavagem"] == "Sim"])]
mulher_value['Motorista'] = [len(mulher[mulher["Motorista"] == "Sim"])]
mulher_value['Km_Extra'] = [len(mulher[mulher["Km_Extra"] == "Sim"])]
mulher_value['GPS'] = [len(mulher[mulher["GPS"] == "Sim"])]
# mulher_value['Total_Contrato']

for item in mulher_value:
  mulher_percent[item] = [mulher_value[item][0]/total_mulheres]
    

print('\n===== MULHER ====\n\n')
print('\n== Valores Totais ==')
display(mulher_value)
print('\n\n\n== Valores Percentuais ==')
display(mulher_percent)

===== MULHER ====



== Valores Totais ==

,Seguro_Terceiros,Assentos_Conforto,Hora_Extra,Kit_Conveniencia,Lavagem,Localiza_Way,Motorista,Km_Extra,GPS
0,33476,823,3128,0,4052,4052,35,11,1

== Valores Percentuais ==

,Seguro_Terceiros,Assentos_Conforto,Hora_Extra,Kit_Conveniencia,Lavagem,Localiza_Way,Motorista,Km_Extra,GPS
0,0.870004,0.021389,0.081293,0.0,0.105307,0.105307,0.00091,0.000286,0.000026

### Comparativo percentual entre sexos

In [135]:
print('\n\n\n== HOMEM ==')
display(homem_percent)
print('\n\n\n== MULHER ==')
display(mulher_percent)

print('\n\n\n')

== HOMEM ==

,Seguro_Terceiros,Assentos_Conforto,Hora_Extra,Kit_Conveniencia,Lavagem,Localiza_Way,Motorista,Km_Extra,GPS
0,0.848771,0.019213,0.077881,0.0,0.094368,0.094368,0.000321,0.000296,0.000006

== MULHER ==

,Seguro_Terceiros,Assentos_Conforto,Hora_Extra,Kit_Conveniencia,Lavagem,Localiza_Way,Motorista,Km_Extra,GPS
0,0.870004,0.021389,0.081293,0.0,0.105307,0.105307,0.00091,0.000286,0.000026

### Idade por quantidade gasta

In [150]:
# Frequency of age

def convert_to_age(db_age):
    item = 'Data_Nascimento'
    now = pd.Timestamp('now')
    db_age[item] = pd.to_datetime(db_age[item])
    db_age[item] = db_age[item].where(db_age[item] < now, db_age[item] -  np.timedelta64(100, 'Y'))
    return (now - db_age[item]).astype('<m8[Y]')

homem['age'] = convert_to_age(homem)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

## Drafts

In [68]:
# Create a javascript-like object

class attrdict(dict):
    def __init__(self, *args, **kwargs):
        dict.__init__(self, *args, **kwargs)
        self.__dict__ = self

In [81]:
# Show column names
list(data.columns)

['ID_Cliente',
 'ID_Contrato',
 'ID_Reserva',
 'Regiao_Abertura',
 'Regiao_Fechamento',
 'Data_Criacao_Reserva',
 'Data_Prevista_Retirada_Reserva',
 'Data_Prevista_Devolucao_Reserva',
 'Data_Abertura_Efetiva',
 'Data_Fechamento_Efetiva',
 'Valor_Diarias',
 'Diarias_Utilizadas',
 'Seguro_Casco',
 'Seguro_Terceiros',
 'Assentos_Conforto',
 'Hora_Extra',
 'Kit_Conveniencia',
 'Lavagem',
 'Localiza_Way',
 'Motorista',
 'Km_Extra',
 'GPS',
 'Total_Contrato',
 'Categoria_Reservada',
 'Categoria_Cobrada',
 'Categoria_Utilizada',
 'Canal_Origem',
 'Categoria_Cliente',
 'Sexo',
 'Data_Nascimento',
 'Cliente_Desde',
 'País_Residencia',
 'Estado_Residencia',
 'Cidade_Residencia',
 'age']

In [53]:
# Show frequency
count = data['Sexo'].value_counts() 

# total = 1089329 + 160703
# sim = 1089329 / total
# nao = 160703 / total

# print("total: ", total)
# print("sim: ", sim)
# print("nao: ", nao)
# print("\n\n====\n")
print(count)

M      1028820
F       220529
I          681
N/D          1
Name: Sexo, dtype: int64

In [42]:
# Frequency of age
item = 'Data_Nascimento'

now = pd.Timestamp('now')
data[item] = pd.to_datetime(data[item])
data[item] = data[item].where(data[item] < now, data[item] -  np.timedelta64(100, 'Y'))
data['age'] = (now - data[item]).astype('<m8[Y]')

In [44]:
print(data['age'])

0          32.0
1          35.0
2          82.0
3          31.0
4          36.0
5          39.0
6          64.0
7          57.0
8          37.0
9          74.0
10         57.0
11         36.0
12         49.0
13         48.0
14         46.0
15         33.0
16         26.0
17         63.0
18         52.0
19         39.0
20         44.0
21         53.0
22         45.0
23         47.0
24         36.0
25         40.0
26         29.0
27         26.0
28         28.0
29         38.0
           ...
1250002    35.0
1250003    28.0
1250004    29.0
1250005    47.0
1250006    39.0
1250007    25.0
1250008    50.0
1250009    41.0
1250010    41.0
1250011    64.0
1250012    29.0
1250013    30.0
1250014    28.0
1250015    31.0
1250016    58.0
1250017    43.0
1250018    31.0
1250019    26.0
1250020    37.0
1250021    31.0
1250022    28.0
1250023    29.0
1250024    26.0
1250025    26.0
1250026    36.0
1250027    34.0
1250028    53.0
1250029    37.0
1250030    54.0
1250031    42.0
Name: age, Length: 1250032, dtype: float64